@font-face {
  font-family: 'Proletariat';
  src: url('../fonts/proletariat.woff2') format('woff2'),
    url('../fonts/proletariat.woff') format('woff');
}

@font-face {
  font-family: SpecialElite-Regular;
  src: url("../fonts/SpecialElite-Regular.woff2") format('woff2'),
    url("../fonts/SpecialElite-Regular.woff") format('woff');
}