* {
  font-family: 'Proletariat', serif;
  text-decoration: none;
}

body {
  background-color: $text-color;
  color: $base-color;
  overflow-x: hidden;
}

.alternativeBackgroundColor {
  background-color: $base-color;
}

.alternativeTextColor {
  color: $text-color;
}

h1, h2, h3 {
  font-size: 60px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0;
}

.alternativeFontFamily,
a, p, span, {
  font-family: 'SpecialElite-Regular', serif;
  font-weight: bolder;
}

p {
  font-size: 20px;
  margin: 0;
}

a {
  font-size: 25px;
  color: $base-color;
}