* {
  font-family: 'Proletariat', serif;
  text-decoration: none;
}

body {
  background-color: $base-color;
  color: $text-color;
  overflow-x: hidden;
}

.main-text-color {
  color: $text-color;
}

.alternative-text-color {
  color: $base-color;
}

h1, h2, h3 {
  font-size: 65px;
  font-weight: lighter;
  margin: 0;
}

a, p {
  font-family: 'SpecialElite-Regular', serif;
  font-weight: bolder;
}

p {
  font-size: 20px;
  margin: 0;
}

a {
  font-size: 25px;
  color: $text-color;
}