.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3vh 5vw;
  & div {
    position: relative;
    padding-bottom: 3vh;
  }
  & img{
    border: 20px solid $base-color;
    height: auto;
  }
  & p {
    position: absolute;
    bottom: 25px;
    font-size: 30px;
  }
}

.portfolio__individuals {
  width: 40%;
  & img {
    max-width: 80%;
  }
  & p {
    left: 25px;
    bottom: 50px;
  }
}

.portfolio__loves {
  width: 60%;
  & img {
    max-width: 92%;
  }
  & h2 {
    position: absolute;
    text-transform: uppercase;
    bottom: -65px;
    left: 25px;
    font-size: 100px;
  }
  & p {
    left: 30px;
    bottom: 20px;
    white-space: nowrap;
  }
}

.portfolio__places {
  width: 36%;
  padding-right: 3vw;
  & img {
    max-width: 90%;
  }
  & p {
    top: 25px;
    left: 25px;
  }
}

.portfolio__restaurants {
  width: 40%;
  & img {
    max-width: 81.5%;
  }
  & p {
    top: 25px;
    left: 25px;
  }
}

.events__container,
.loves__container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.portfolio__events {
  width: 100%;
  & img {
    max-width: 50%;
  }
  & p {
    left: 30px;
    bottom: 20px;
  }
}












@media only screen and (min-width: 2559px) {
  .portfolio__loves {
    & h2 {
      font-size: 170px;
      bottom: -95px;
    }
  }
  .portfolio p {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1450px) {
  .portfolio p {
    font-size: 23px;
  }
}

@media only screen and (max-width: 1125px) {
  .portfolio__loves h2 {
    font-size: 80px;
    bottom: -45px;
  }

  .portfolio p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 950px) {
  .portfolio p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio__loves h2 {
    font-size: 60px;
    bottom: -20px;
  }

  .portfolio p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 655px) {
  .portfolio p {
    font-size: 8px;
  }
}

@media only screen and (max-width: 450px) {
  .portfolio__loves h2 {
    font-size: 50px;
    bottom: -10px;
  }

  .portfolio p {
    font-size: 5px;
  }
}