// content - positioning
.contacts {
  position: relative;
  height: 75vh;
  margin: 4vh 0 0 20vw;

  & h2 {
    color: $text-color;

    @media (min-width: 1440px) {
      font-size: 70px;
    }
  }

  // social media
  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 55vw;
    height: auto;
    margin-left: 15vw;
    padding: 10px 0;
    gap: 15px;
    background-color: $base-color;
  }
}

// title - positioning
.info__title {
  position: absolute;
  bottom: -150px;
  left: -180px;

  @media (min-width: 1440px) {
    bottom: -190px;
    left: -220px;
  }

  & h1 {
    font-size: 120px;
    color: $base-color;

    @media (min-width: 1440px) {
      font-size: 150px;
    }
  }
}

// lines from contact-box
.rightLine {
  position: absolute;
  top: 40px;
  right: -10vw;
  z-index: -1;
  width: 200px;
  border-bottom: 4px solid $base-color;
}

.bottomLine {
  position: absolute;
  top: 0;
  left: 200px;
  z-index: -1;
  height: calc(89vh - 94px);
  border-right: 4px solid $base-color;
}