.alternative-page-color {
  background-color: $text-color;
  height: 83vh;
}

.single-colored-hr {
  background-color: $base-color;
  border: none;
  height: 2px;
  margin: 0;
}

.logo_centered {
  display: grid;
  place-items: center;
  margin-top: 7vh;
}

.contacts-page-content {
  margin-top: 2vh;
  position: relative;
}

.contacts-page-information {
  position: relative;
  margin-left: 20vw;
  width: 80vw;
  height: 63vh;
}

.contacts-page-box {
  position: absolute;
  top: 5%;
  right: 7%;
  width: 54vw;
  height: 45vh;
  padding: 2vh;
  background-color: $base-color;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(4, 1fr);
  & h3 {
    font-size: 62px;
    font-weight: lighter;
    margin: 0;
  }
}

.contacts-page-plea {
  position: absolute;
  top: 50%;
  right: 49%;
  & h3 {
    font-size: 145px;
    color: $base-color;
  }
}


#right-hr {
  position: absolute;
  top: 17%;
  right: -30%;
  width: 50%;
  height: 4px;
}

.div-hr {
  border-left: 4px solid $base-color;
  height: 100%;
  position: absolute;
  left: 40%;
  top: 29.5%;
}

@media screen and (min-width: 2559px) {
  .contacts-page-plea {
    top: 58%;
    right: 50%;
    & h3 {
      font-size: 250px;
    }
  }
  .contacts-page-box h3 {
    font-size: 100px;
  }
}

@media screen and (min-width: 1441px) {
  .contacts-page-plea {
    top: 58%;
    right: 50%;
  }
}

@media screen and (max-width: 1439px) {
  .contacts-page-plea {
    top: 56%;
    right: 50%;
  }
}

@media screen and (max-width: 1380px) {
  .contacts-page-plea {
    top: 55%;
    right: 48%;
    & h3 {
      font-size: 140px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .contacts-page-plea {
    top: 57%;
    right: 47%;
    & h3 {
      font-size: 115px;
    }
  }
}

@media screen and (max-width: 767px) {
  .contacts-page-plea {
    top: 63%;
    right: 48%;
    & h3 {
      font-size: 90px;
    }
  }
}



@media screen and (min-width: 2559px) {
  h1, h2 {
    font-size: 100px;
  }
}

@media screen and (max-width: 1250px) {
  h1, h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 767px) {
  .links-phone-resolution,
  .logo_centered {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #links_invisible {
    display: none;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 424px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }
}
