@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  z-index: -1;
  background: rgb(219,219,219) url("img/background-left.jpg") no-repeat right;
  background-size: cover;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  margin-top: 7vh;
  //margin-left: 150px;
  //margin-right: 150px;
}

.homepage__text_start-grid {
  justify-self: start;
}

.homepage__text_end-grid {
  justify-self: end;
}

.links-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-top: 10px;
}

h1, h2 {
  font-size: 65px;
  font-weight: lighter;
  margin: 0;
}

a {
  font-size: 25px;
  font-weight: bolder;
}

hr {
  background-color: $text-color;
  border: none;
  height: 2px;
  margin: 0;
  //position: relative;
  //width: 100%;
  //display: block;
  //overflow: visible;
}

hr:before {
  background-color: $base-color;
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  //left: 0;
  //position: absolute;
  //top: 0;
  //z-index: 1;
}

.right-side {
  margin-left: 68vw;
  margin-top: 20vh;
}

img {
  width: 18vw;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}

@media screen and (min-width: 767px) {
  .links-media {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  h1, h2 {
    font-size: 50px;
    font-weight: lighter;
    margin: 0;
  }
  
  a {
    font-size: 19px;
    font-weight: bolder;
  }
  
  p {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
  }
}

@media screen and (max-width: 767px) {
  .homepage {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;

  }

  .homepage a {
    display: none;
  }

  h1 {
    font-size: 45px;
    font-weight: lighter;
    margin: 0;
  }

  h2 {
    font-size: 35px;
    font-weight: lighter;
    margin: 0;
  }

  a {
    font-size: 15px;
    font-weight: bolder;
  }

  p {
    margin: 0;
    font-size: 11px;
    font-weight: bolder;
  }
}

@media screen and (max-width: 424px) {
  h1 {
    font-size: 35px;
    font-weight: lighter;
    margin: 0;
  }

  h2 {
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
  }

  a {
    font-size: 12px;
    font-weight: bolder;
  }

  p {
    margin: 0;
    font-size: 8.5px;
    font-weight: bolder;
  }
}

@media screen and (min-width: 2559px) {
  h1, h2 {
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
  }

  a {
    font-size: 42px;
    font-weight: bolder;
  }

  p {
    margin: 0;
    font-size: 30px;
    font-weight: bolder;
  }
}