@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';
@import 'other-pages/contacts-page/contacts';
@import 'other-pages/portfolio-page/portfolio';

// background image
.background {
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    object-position: right;

    @media (max-width: 768px) {
      width: 100vw;
      object-position: 50% 50%;
    }
  }
}

// header
.header {
  margin-top: 7vh;

  @media (max-width: 768px) {
    margin-top: 4vh;
  }
}

// navigation bar
.nav {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr 2fr;
  place-items: center;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
  }

  // positioning for logo (name)
  &__text_startGrid {
    justify-self: start;
  }

  &__text_endGrid {
    justify-self: end;
  }

  // current page
  &__active {
    opacity: 0.5;
  }

  h1 {
    @media (min-width: 1024px) {
      font-size: 80px;
    }
  }

  a {
    transition: font-size .25s linear;

    &:hover {
      font-size: 34px;
    }

    @media (min-width: 1024px) {
      font-size: 30px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  h1, a {
    @media (max-width: 768px) {
      color: $base-color;
    }
  }
}

// navigation bar for phones
.navPhone {
  display: none;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 2vh;
  }

  // current page - phone
  &__active {
    opacity: 0.5;
  }

  a {
    @media (max-width: 425px) {
      font-size: 20px;
    }
  }
}

// horizontal lines
.monoColoredHr,
.twoColoredHr {
  border: none;
  height: 2px;
  margin: 0;
  background-color: $base-color;

  &:before {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: $base-color;
  }
}

.twoColoredHr {
  background-color: $text-color;

  @media (max-width: 768px) {
    background-color: $base-color;
  }
}

// welcome part - positioning
.intro {
  position: relative;
  width: 50vw;
  height: 75vh;
  margin-left: 50vw;

  @media (max-width: 768px) {
    width: 100vw;
    margin: 0;
  }
}

// welcome part - content
.contentHome {
  position: absolute;
  top: 17%;
  left: calc(50% - 12.5vw);
  width: fit-content;
  color: $text-color;

  @media (max-width: 768px) {
    top: 10%;
    left: calc(50% - 25vw);
  }

  @media (max-width: 425px) {
    left: calc(50% - 35vw);
  }

  &__text {
    @media (max-width: 425px) {
      display: none;
    }

    &_phoneRes {
      display: none;

      @media (max-width: 425px) {
        display: block;
      }
    }
  }

  &__image {
    width: 25vw;

    @media (max-width: 768px) {
      width: 50vw;
      border: 13px solid $base-color;
    }

    @media (max-width: 425px) {
      width: 70vw;
    }
  }
}